.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.client-images > img {
  height: 1.75rem;
}

.logo-image {
  height: 1.75rem
}

.hero-image {
  height: 30rem;
}

.btn-toggle[aria-expanded="true"]::after {
  transform: rotate(180deg)!important;
  transition: transform .50s ease;
  display: inline-block;
}

.btn-toggle::after {
  line-height: 0;
  position: relative;
  top: .175rem;
  content: url("../images/chevron-down.svg");
  transition: transform .50s ease;
  transform-origin: 0.5em 50%;
  color: red;
}

@media screen and (max-width: 765px)  {
  .max-sidebar-size-sm-md {
    width: 15rem!important;
  }
}

.todo-list,
.calendar,
.reminders,
.reminders2 {
  background-repeat: no-repeat;
  background-position-y: center;
  margin-left: 1rem;
}

.reminders2 {
  background-image: url('../images/icon-reminders.svg');
}

.todo-list {
  background-image: url('../images/icon-todo.svg');
}

.calendar {
  background-image: url('../images/icon-calendar.svg');
}

.reminders {
  background-image: url('../images/icon-planning.svg');
}



