.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.client-images > img {
  height: 1.75rem;
}

.logo-image {
  height: 1.75rem
}

.hero-image {
  height: 30rem;
}